h1 {
     text-align: center;
color: blueviolet;
text-decoration: wavy;
}

body{
     

}
p {
   font-family: Verdana, Geneva, Tahoma, sans-serif ;
color: orange;

}
 h2 {
     background-color: red;
 }
 ol {
     color: blanchedalmond;
 }
 a {
     color:yellow;
 }